@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding: 68px;
}

.principal {
    border: 2px solid #4379CA;
    border-radius: 20px;
    padding: 47px;
    width: 60%;
}

.forms {
    display: flex;
}

.title,
.email-box {
    width: 60%;
}

.email-box {
    display: flex;
    flex-direction: column;
}

.email-box label {
    font-size: 16px hei;
}


h1 {
    color: #4379CA;
    margin-top: 60px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    color: black;

}

p {
    font-size: medium;
}

.suscribete {
    background-color: #4379CA;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-left: 400px;
    width: 238px;
    height: 68px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    float: right;
    margin: 12px;
}


.suscribete:disabled {
    background-color: #f5f5f5;
    color: #CACACA;
    border: #CACACA solid;
}

.suscribete:hover:enabled {
    background-color: #A1BEE9;
    color: #0A3C87;
}

.suscribete:active:enabled {
    background-color: #0C2E62;
    color: white;
}

.email {
    border: solid 1px #4379CA;
    border-radius: 20px;
    width: 88%;
    height: 44px;
    padding-left: 12px;
    font-size: large;
    box-shadow: 2px 4px 21px -14px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 2px 4px 21px -14px rgb(0 0 0 / 75%);
    -moz-box-shadow: 2px 4px 21px -14px rgb(0 0 0 / 75%);
    margin: 8px 0;
    background-color: white;

}

.email:hover {
    background-color: #f5f5f5;
    border: 2px solid #1147b5;

}


.email:hover:enabled {
    background-color: #A1BEE9;
    color: #0A3C87;
}

.email-box .suscribete {
    margin-left: 335px;
}



.check {
    width: 18px;
    height: 16px;
}

.seleccionar {
    width: 180px;
    height: 25px;
    margin-top: 20px;
}



.politica {
    display: flex;
    flex-direction: row;
}

.tituloEmail {
    margin-left: 10px;
}

